<section class="text-white">
<h1>Editing runlist</h1>

<%= render "form", runlist: @runlist %>

<br>

<div>
  <%= link_to "Show this runlist", @runlist %> |
  <%= link_to "Back to runlists", runlists_path %>
</div>
</section>
