<p style="color: green"><%= notice %></p>
<section class="text-white">


  <div data-controller="runlist" > <!-- data controller defines the stimulus controller for this div -->
    <div class="row">
      <div class="col-3">
        <h1>Shop Runlist</h1>
      </div>
      <div class="col-2">
        <select class="form-select" data-action="change->runlist#changedepartment" > <!-- data action is the js controller to run -->
          <option selected>Department</option>
          <% @departments.each do |w| %>
            <option ><%= w %></option>
          <% end %>
        </select>
      </div>
      <div class="col-auto">
        <%= link_to "New department", new_department_path, class: "btn btn btn-secondary btn-small" %>
      </div>
      <div class="col" id="editDepartmentButton"></div>

      <div class="col-2 justify-content-end">
        <select class="form-select" data-action="change->runlist#changeWc" > <!-- data action is the js controller to run -->
          <option selected>WorkCenter</option>
          <% @wc.each do |w| %>
            <option ><%= w %></option>
          <% end %>
        </select>
      </div>
    </div>
  </br>
    <div id="activerunlistrender"></div>  <!-- id sets the turbo stream page to get rendered -->
    </br>
  </div>
</section>