<h1>New runlist</h1>
  <%= link_to "Cancel", runlists_path, class: "btn btn-warning" %>
  <%= render "form", runlist: @runlist %>

</br>
</br>



<h1>New runlist</h1>

  <%= link_to "Cancel", runlists_path, class: "btn btn-warning" %>
  <%= render "form", runlist: @runlist %>

</br>
</br>