<%= turbo_stream.update "newAssignment" do %> 
  <div class="card text-bg-dark mb-3 ">
    <div class="card-body">
      <div class="col">
        <%= render "assignmentform", assignment: @assignment %>
      </div>
    </div>
  </div>
<% end %>