<%= turbo_stream.update "teststream" do %>
<h1 class="text-white">Testing if this works</h1>
<% end %>

<!-- for a turbo_stream: add route, add page.turbo_stream.erb, add name to div id,, add controller with name, add turbo_stream command at top of this page -->