<h1>New assignment</h1>
<%= turbo_frame_tag "newassignment" do %>
  </br>
  <div class="card text-bg-dark mb-3 ">
    <div class="card-body">
      <div class="col">
        <%= render "form", assignment: @assignment %>
      </div>
    </div>
  </div>
<% end %>

