<h1>Editing slideshow</h1>

<%= render "form", slideshow: @slideshow %>

<br>

<div>
  <%= link_to "Show this slideshow", @slideshow %> |
  <%= link_to "Back to slideshows", slideshows_path %>
</div>
