<h1>Editing departmentassignment</h1>

<%= render "form", departmentassignment: @departmentassignment %>

<br>

<div>
  <%= link_to "Show this departmentassignment", @departmentassignment %> |
  <%= link_to "Back to departmentassignments", departmentassignments_path %>
</div>
