<p style="color: green"><%= notice %></p>

<h1>Departmentassignments</h1>

<div id="departmentassignments">
  <% @departmentassignments.each do |departmentassignment| %>
    <%= render departmentassignment %>
    <p>
      <%= link_to "Show this departmentassignment", departmentassignment %>
    </p>
  <% end %>
</div>

<%= link_to "New departmentassignment", new_departmentassignment_path %>
