<div class="text-white">
  <h1>Editing department</h1>
<%= turbo_frame_tag "editdepartment" do %>
  <%= render "form", department: @department %>
</br>
  <%= button_to "Destroy this department", @department, class: "btn btn-danger", method: :delete %>
<% end %>
