<div class="text-white">

<%= turbo_frame_tag "newDepartment" do %>

  <%= render "form", department: @department %>
  <br>
<% end %>  
<!--
  <%= link_to "Back to runlists", runlists_path, class: "btn btn-secondary" %>


<div>
    <%= link_to "Back to departments", departments_path %>
</div>

</div>
-->