<div class="row">
	<div class="col"></div>
<div class="col-auto">
	<h1 class="text-white">Checkout your inserts...</h1>
</div>
<div class="col"></div>
</div>


<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">

    	<%= image_tag "badass_hawk.jpg", height: 600 %>
    </div>
    <div class="col"></div>
  </div>
</div>


<div class="row">
	<div class="col"></div>
<div class="col-auto">
	<h1 class="text-white">OR ELSE...</h1>
</div>
<div class="col"></div>
</div>

<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);" src="https://thumbs.gfycat.com/NauticalBigHippopotamus-max-1mb.gif">
</br>
<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);" src="https://thumbs.gfycat.com/BlaringTastyHerculesbeetle-size_restricted.gif">
</br>
<img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);" src="https://cdn3.whatculture.com/images/2019/12/5222adb7c6160c7f-600x338.gif">