<div class="card text-bg-dark">
<h1 class="card-header">Edit This Item</h1>

<div class="card-body">
<%= render "form", turninginv: @turninginv %>

<br>
</div>
</div>
</div>
</br>
<div>
  <%= link_to "Back to All Tools (Don't save)", turninginvs_path, class:"btn btn-outline-dark" %> 
</br> </br> </br>
  <%= button_to "Delete this Tool", @turninginv, method: :delete, class:"btn btn-outline-danger" %>
</div>
