<div class="card text-bg-dark">
<main class="container">
  <%= link_to sanitize("&larr; Back to Materials"), material_path(@material) %>

  <div class="header">
    <h1>Edit material</h1>
  </div>

  <%= render "form", material: @material %>
</main>
<div class="text-center"><h3>All Quotes for this Material</h3> </div>
<div>
  <%= render "materials/allmathistory" %>
</div>

<%= button_to "Delete This size and All Quote History", @material, data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-outline-danger" %>
</div>