<div class="container">
  <div class="card text-bg-dark">
    <div id="departments" class="text-white">
      <div data-controller="material" id="newQuote">
        <%= render "/materials/materialSelection" %>
      </div>
    <br></br>
    <div id="matdata"> <!-- Main turbo-stream div for displaying purchase history. Populates upon size selection -->
    
    </div>
  </div>
</div>